.crumbs {
  text-decoration: none;
  color: #4c596b;
}
.bread {
  margin: 10px 0 0 32px;
}
.bread a:hover {
  text-decoration: underline;
  color: #265aad;
}
@media (max-width: 815px) {
  .bread {
    margin-left: 22px;
  }
}
@media (max-width: 750px) {
  .bread {
    margin-left: 12px;
  }
}